<div class="container-xl mt-auto">
    <div class="row">
        <div class="col">
            <div class="container card p-4">
                <h1 class="display-4">Get all users</h1>
                <% listUsers.forEach(user => { %>
                    <div class="col card text-center">
                    <h1 class="my md-2"><%= user.email %></h1> 
                 <h1 class="my md-2"><%= user.uid %></h1> 
                 <h1 class="my md-2"><%= user.displayName %></h1> 
                    <% if (user.customClaims) { %>
                     <h1>Is Admin</h1>
                    <% } %>
                    <div class="col">
                        
                    </div>
                 <img width="140px" height="200px" class="img-thumbnail"  src=<%= user.photoURL %>  alt="">
                 <form action="admin/delete/<%= user.uid %>" method="post">
                 <button style="max-width: 180px;" class="btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                    </svg>
                </button>
            </form>
            <form action="admin/make/<%= user.uid %>" method="post">
                <button>Make admin</button>
            </form>
                  
                </div> 
                <% }) %>
            </div>
        </div>
        <div class="col card text-center">
            <h2 class="fw-bold m-2">Profile</h2>
            <div class="container p-3 text-center">
                <img width="140px" height="200px" class="img-thumbnail" src="<%= info.picture %>">
                <h4 class="my-md-2 pb-2">Email: <%= info.email %></h4>
                <h4 class="my-md-2 pb-2">Name: <%= info.name %></h4>
                <% if(info.admin){ %>
                    <a href="/profile">Back to profile</a>
               <% } %> 
            </div>
            <div class="container-sm mt-4">
                <h4><% if(typeof userInfo !== 'undefined'){ %>
                    <%= userInfo.info %> 
                <% } %></h4>
            </div>
                 
        </div>    
    </div>
</div>
<script type="module" src="/admin.js"></script>

